@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@import "tailwindcss";

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-condensed: "Barlow Condensed", sans-serif;
  --font-bellefair: "Bellefair", serif; /* 400 */

  --color-primary: #0b0d17;
  --color-foreground: #d0d6f9;
  --color-white: #ffff;
}

.active {
  border-right: 3px solid white;
  border-bottom: none;
}
.planet-list > .active {
  border-bottom: 3px solid white;
  border-right: none;
}
.crew-list > .active {
  border-bottom: none;
  border-right: none;
}
.crew-list > .active > span {
  background-color: var(--color-white);
}
.technology-lists > .active {
  background-color: var(--color-white);
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .active {
    border-bottom: 3px solid white;
    border-right: none;
  }
}

.container {
  max-width: 1238px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.container-right {
  max-width: 1340px;
  display: flex;
}
@media (min-width: 1024px) {
  .container-right {
    justify-self: end;
    padding-left: 65px;
  }
}

.hero-wrapper {
  min-height: calc(100dvh - 136px);
}
@media (min-width: 768px) {
  .hero-wrapper {
    min-height: calc(100vh - 176px);
  }
}
@media (min-width: 1024px) {
  .hero-wrapper {
    min-height: calc(100vh - 232px);
  }
}

@layer base {
  body {
    @apply font-condensed antialiased bg-primary text-foreground font-normal;
  }
}
